<form id="form" action="/auth/login" method="post">
    <h2>Login</h2>
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">

    {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
    {{/if}}

    <button type="submit">Login</button>
</form>
<a href="/auth/github">Want to login via github?</a>
<a href="/auth/facebook">Want to login via Facebook?</a>
<a href="/">Home</a>